<div class="view-as-btn view-as-btn-mobile">
    <a href="#" class="btn-view grid-view{{#if theme_settings.product_list_display_mode '===' 'grid'}} current-view{{/if}}" id="grid-view-mobile" aria-label="{{lang 'categories.grid_view'}}">
        <div class="icon-view icon-view-3">
            <div class="icon-bar"></div>
        </div>
        <div class="icon-view icon-view-3">
            <div class="icon-bar"></div>
        </div>
        <div class="icon-view icon-view-3">
            <div class="icon-bar"></div>
        </div>
    </a>
    <a href="#" class="btn-view list-view{{#if theme_settings.product_list_display_mode '===' 'list'}} current-view{{/if}}" id="list-view-mobile" aria-label="{{lang 'categories.list_view'}}">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
    </a>
</div>
