{{#if theme_settings.haloLiveHelp}}
<div id="halo-live-help" class="halo-liveHelp halo-live-help halo-liveHelp-top">
    <div class="wrapper halo-liveHelp-wrapper">
        <div class="halo-liveHelp-ask item-top">
            <h4>PRE-SALES</h4>
            <p class="desc">If you have any questions before making a purchase chat with our online operators to get more information.</p>
            <a class="button button--tertiary ask-an-expert-link" href="#" aria-label="Ask An Expert">
                <svg class="icon"><use xlink:href="#icon-headphone"></svg></use><span class="text">Ask An Expert</span>
            </a>
            <span class="text">or find our <a href="#">Questions &amp; Answers</a></span>
        </div>
        <div class="halo-liveHelp-contact item-bottom">
            <h4>AFTER-SALES</h4>
            <p class="desc">If you have need any help about the After-Sales issues, please contact us.</p>
            <a class="button button--tertiary contact-us-link" href="#" aria-label="Contact Us">
                <svg class="icon"><use xlink:href="#icon-email"></use></svg><span class="text">Contact Us</span>
            </a>
        </div>
    </div>
</div>
{{/if}}
