{{#if theme_settings.halo_ask_an_expert}}
    <div class="productView-askAnExpert{{#if product.options}} productView-askAnExpertOption{{/if}}">
        <a class="productView-askAnExpert-link ask-an-expert-link" href="#" aria-label="Ask An Expert">
            <svg class="icon" role="img" aria-label="Ask an Expert">
                <title>Ask an Expert</title>
                <desc>Ask an Expert</desc>
                <use xlink:href="#icon-ask-an-expert"></use>
            </svg>
            <span class="text">Ask an Expert</span>
        </a>
    </div>
{{/if}}
