<div class="halo-block halo-home-section banner-block-section" id="carouselBannerItem">
    <div class="container px-0">
        <div class="carouselBannerCarousel">
            <div class="carosel-item">
                <div class="cols center">
                    {{#if theme_settings.halo_bannerCarouselPos_1 '==' 'left'}}
                    <div class="col is-2 image-item animated">
                        <div class="image-set">
                            <img class="lazyload"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_bannerCarouselImage_1}}"
                                alt="image" title="image" width="700" height="900">
                                <div class="lookbook-point" style="top:{{theme_settings.halo_bannerPosTop_1}};left:{{theme_settings.halo_bannerPosLeft_1}}">
                                    <svg class="icon is-large" role="img" aria-label="{{theme_settings.halo_bannerTitle_1}}">
                                        <title>{{theme_settings.halo_bannerTitle_1}}</title>
                                        <desc>{{theme_settings.halo_bannerTitle_1}}</desc>
                                        <use xlink:href="#icon-point"></use>
                                    </svg>
                                </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="col is-2 product-item">
                        <h3 class="title is-10 mb-1 text-center">{{theme_settings.halo_bannerTitle_1}}</h3>
                        <p class="subtitle text-center">{{{theme_settings.halo_bannerDesc_1}}}</p>
                        <div class="product-with-banner" data-product-id="{{theme_settings.halo_bannerProID_1}}">
                            <img class="loading"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                alt="loading" width="700" height="900">
                        </div>
                    </div>
                    {{#if theme_settings.halo_bannerCarouselPos_1 '==' 'right'}}
                    <div class="col is-2 image-item animated">
                        <div class="image-set">
                            <img class="lazyload"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_bannerCarouselImage_1}}"
                                alt="image" title="image" width="700" height="900">
                                <div class="lookbook-point" style="top:{{theme_settings.halo_bannerPosTop_1}};left:{{theme_settings.halo_bannerPosLeft_1}}">
                                    <svg class="icon is-large" role="img" aria-label="{{theme_settings.halo_bannerTitle_1}}">
                                        <title>{{theme_settings.halo_bannerTitle_1}}</title>
                                        <desc>{{theme_settings.halo_bannerTitle_1}}</desc>
                                        <use xlink:href="#icon-point"></use>
                                    </svg>
                                </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="carosel-item">
                <div class="cols center">
                    {{#if theme_settings.halo_bannerCarouselPos_2 '==' 'left'}}
                    <div class="col is-2 image-item animated">
                        <div class="image-set">
                            <img class="lazyload"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_bannerCarouselImage_2}}"
                                alt="image" title="image" width="700" height="900">
                                <div class="lookbook-point" style="top:{{theme_settings.halo_bannerPosTop_2}};left:{{theme_settings.halo_bannerPosLeft_2}}">
                                    <svg class="icon is-large" role="img" aria-label="{{theme_settings.halo_bannerTitle_2}}">
                                        <title>{{theme_settings.halo_bannerTitle_2}}</title>
                                        <desc>{{theme_settings.halo_bannerTitle_2}}</desc>
                                        <use xlink:href="#icon-point"></use>
                                    </svg>
                                </div>
                        </div>
                    </div>
                    {{/if}}
                    <div class="col is-2 product-item">
                        <h3 class="title is-10 mb-1 text-center">{{theme_settings.halo_bannerTitle_2}}</h3>
                        <p class="subtitle text-center">{{{theme_settings.halo_bannerDesc_2}}}</p>
                        <div class="product-with-banner" data-product-id="{{theme_settings.halo_bannerProID_2}}">
                            <img class="loading"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                alt="loading" width="700" height="900">
                        </div>
                    </div>
                    {{#if theme_settings.halo_bannerCarouselPos_2 '==' 'right'}}
                    <div class="col is-2 image-item animated">
                        <div class="image-set">
                            <img class="lazyload"
                                src="https://cdn11.bigcommerce.com/s-l7zbjnmjfx/content/loading/loading.svg"
                                data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_bannerCarouselImage_2}}"
                                alt="image" title="image" width="700" height="900">
                            <div class="lookbook-point" style="top:{{theme_settings.halo_bannerPosTop_2}};left:{{theme_settings.halo_bannerPosLeft_2}}">
                                <svg class="icon is-large" role="img" aria-label="{{theme_settings.halo_bannerTitle_2}}">
                                    <title>{{theme_settings.halo_bannerTitle_2}}</title>
                                    <desc>{{theme_settings.halo_bannerTitle_2}}</desc>
                                    <use xlink:href="#icon-point"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{{region name="home_below_banner_carousel_block"}}}
